body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.header,.landing,.content,.single-rating,.rating,.text,.single-rating-selected {
  width: 100vw;
  height: 15vh;
  background-color: #7f181b;
  border-top: 1vh solid #ecb731;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  0 5px 5px 0px rgb(0 0 0 / 10%);
}

.header img {
  height: 10vh;
}

.landing {
  height: 85vh;
  background-color: white;
  border-top: none;
  box-shadow: none;
  align-items: flex-start;
}

.content {
  height: 60vh;
  margin-top: 5vh;
  border: 1px solid #d7d7d8;
  border-left: none;
  border-right: none;
  background-color: #f3f3f3;
  justify-content: flex-start;
  flex-direction: column;
}

.single-rating,.single-rating-selected {
  width: 3vw;
  height: 3vw;
  margin: 0 0.5vw;
  border-radius: 1vw;
  color: white;
  font-weight: 700;
  font-size: 2vw;
  cursor: pointer;
  transition: 0.3s all;
  border-top: none;
  border: 0.1vw solid #ecb731;
}

.single-rating:hover,.single-rating-selected:hover {
  transform: translateY(-5px);
}

.single-rating-selected {
  background-color: #ecb731;
  color: black;
  font-size: 2.5vw;
}

.rating {
  height: 10vh;
  flex-direction: row;
  border: none;
  box-shadow: none;
  align-items: center;
  background-color: #f3f3f3;
}

.question {
  width: 100vw;
  margin-top: 1vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question p {
  font-weight: 700;
  font-size: 2vw;
}

.text {
  margin-top: 1vh;
  height: auto;
flex-direction: column;
background-color: transparent;
border: none;
box-shadow: none;
}

.text textarea {
  width: 30vw;
  height: 20vh;
}

.text button {
  margin-top: 1vh;
}

.btn-98 {
  outline: none;
  border: none;
  cursor: pointer;
  --thickness: 4px;
  display: block;
  margin: 1rem auto;
  position: relative;
  background-color: transparent;
  color: #7f181b;
  font-weight: 700;
  font-size: 3vh;
  text-transform: uppercase;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% + var(--thickness)),
    0 calc(100% + var(--thickness))
  );
}

.btn-98:before {
  pointer-events: none;
  content: "";
  width: 100%;
  height: var(--thickness);
  position: absolute;
  bottom: calc(-1 * var(--thickness));
  left: 0;
  background: #7f181b;
}

.btn-98:hover:before {
  animation: slide 0.5s;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
